Repository swe574-Fall2024-Group1/huddleup, pull requests merged in 2024-12, with the labels that each got.

#101 Map view adjustment after current location set
  huddleupui/src/pages/Community/CreatePost.jsx
Labels: bugfix

#110 feature: adding community recommendation based on instance of relatio…
  huddleupAPI/communityAPI/management/commands/update_recommendations.py
Labels: backend, community, recommendation

#108 fix:badge like action logic is fixed.
  huddleupAPI/communityAPI/views.py
Labels: bugfix

#112 Feature/user wikidata recommendations
  huddleupAPI/communityAPI/admin.py
  huddleupAPI/communityAPI/class_views.py
  huddleupAPI/communityAPI/management/commands/update_recommendations.py
  huddleupAPI/communityAPI/migrations/0011_auto_20241219_0005.py
  huddleupAPI/communityAPI/models.py
  huddleupAPI/communityAPI/views.py
Labels: enhancement, recommendation, follow user

#119 Feature/badge icons & bugfix in feed profile pic
  huddleupAPI/communityAPI/views.py
  huddleupui/src/components/Community/Post.js
  huddleupui/src/components/Feed/FeedPost.js
  huddleupui/src/components/MainLayout/Navbar.jsx
  huddleupui/src/layouts/CommunityLayout.jsx
  huddleupui/src/pages/Connections.jsx
  huddleupui/src/pages/UserProfile.jsx
  huddleupui/src/pages/UserProfileById.jsx
Labels: community, badges, bugfix
